@import "./variables.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    background: linear-gradient(45deg, $red, $yellow);
    .content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        .box {
            width: 200px;
            height: 200px;
            background: green;
            margin: 30px;
        }
    }
    .header{
        margin: 30px auto;
        h1{
            color: white;
            font-family: $main-font;
        }
    }    
}